{% extends 'base.html.twig' %}

{% block title %}Liste des Filières{% endblock %}

{% block body %}
    <h1>Liste des Filières</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for filiere in filieres %}
                <tr>
                    <td>{{ filiere.id }}</td>
                    <td>{{ filiere.nom }}</td>
                    <td>
                        <a href="{{ path('app_filiere_show', {'id': filiere.id}) }}">Voir</a>
                        <a href="{{ path('app_filiere_edit', {'id': filiere.id}) }}">Modifier</a>
                    </td>
                </tr>

            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_filiere_new') }}">Créer une nouvelle filière</a>

    <br><br>
    <a href="{{ path('app_home') }}" style="background-color: #ddd; padding: 10px; text-decoration: none; border-radius: 5px; color: black;">
        Accueil
    </a>
{% endblock %}
