{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Annee</th>
                <td>{{ session.annee }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ session.statut }}</td>
            </tr>
            <tr>
                <th>TauxReussite</th>
                <td>{{ session.tauxReussite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_session_index') }}">back to list</a>

    <a href="{{ path('app_session_edit', {'id': session.id}) }}">edit</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
