{% extends 'base.html.twig' %}

{% block title %}Diplome index{% endblock %}

{% block body %}
    <h1>Diplome index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diplome in diplomes %}
            <tr>
                <td>{{ diplome.id }}</td>
                <td>{{ diplome.intitule }}</td>
                <td>
                    <a href="{{ path('app_diplome_show', {'id': diplome.id}) }}">show</a>
                    <a href="{{ path('app_diplome_edit', {'id': diplome.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_diplome_new') }}">Create new</a>
    <br><br> <a href="{{ path('app_home') }}" style="background-color: #ddd; padding: 10px; text-decoration: none; border-radius: 5px; color: black;">
        Accueil
    </a>
{% endblock %}
